{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

<h3 class="{{ nodetype }} {{ currentnodeid }} {{ currentuserid }}">{{ node.title.value }}</h3>
<span class="areaLoc">{{ node.field_company.entity.name.value }}</span>
<span class="minExp">Min Exp: {{ node.field_experience.value }} - {{ node.field_maximum_experience.value }} Yrs.</span>
{{ node.body.value|raw }}
<div class="btnsec">
    <a class="button applyirmaprofile" href="javascript:;" data-nodeid = "{{ node.nid.value }}">Apply with IRMA Profile</a>
    <a class="buttonBack" href="/alumni-network/careers/job-listing">Back</a>
</div>
<div class="uploadresume">
    <p>Don’t wish to apply your IRMA profile? No worries! You can upload your resume and Apply.</p>
    <div class="uploadBtn">
        <form method="POST" id="uploadresume" enctype="multipart/form-data">
            <a class="uploadBtn" href="javascript:;">Select File</a>
            <input type="file" name="file"/>
            <br/><br/>
            <input type="hidden" id="nodeid" name="nodeid" value="{{ node.nid.value }}" />
          <!--<input type="submit" name="submit" value="Upload Resume" />-->
        </form>
    </div>
    <a class="uploadBtn uploadresumeclick fileUpload" href="javascript:;" data-nodeid = "{{ node.nid.value }}">Upload Resume</a>
</div>
<p>Have any questions in mind before you apply? <a class="buttonBack" href="/alumni-network/contact-irma" target="_blank"> Contact Us</a>.</p>

  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div><!-- /.links -->
  {% endif %}

