{{ page.header }}
<section class="innerbanner">{{ page.banner }}</section>
<div id="main">
  <section class="mainWrapper formPage">
    <div class="container">
      {{ page.help }}
      <div id="content-area" class="detailContent changePwdP">
        <h3>Reset Password</h3>
        <ul>
          <li>
            <label>New Password</label>
            <input type="password" class="newPass">
          </li>
          <li>
            <label>Confirm Password</label>
            <input type="password" class="confirmPass">
          </li> 
        </ul>
        <a class="button view rstPassword" href="javascript:;">Reset Password</a>
      </div>
    </div>
    <div id="content-header" class="container">
      {{ title_prefix }}
      {% if title %}
        <h1 class="title">{{ title }}</h1>
      {% endif %}
      {{ title_suffix }}
      {% if tabs %}
        <div class="tabs">{{ tabs }}</div>
      {% endif %}
      {% if action_links %}
        <ul class="action-links">{{ action_links }}</ul>
      {% endif %}
      {{ page.content }}
    </div><!-- /#content-header -->
  </section><!-- /#content -->
</div><!-- /#main -->
{% if page.footer|render %}
  <footer><div class="container footer-container">{{ page.footer }}</div></footer>
{% endif %}


